<main>
  <section class="section notifications">
    <div class="container">
      <div class="">
        <p class="notification is-info is-light" role="alert"
          phx-click="lv:clear-flash"
          phx-value-key="info"><%= live_flash(@flash, :info) %></p>

        <p class="notification is-danger is-light" role="alert"
          phx-click="lv:clear-flash"
          phx-value-key="error"><%= live_flash(@flash, :error) %></p>
      </div>

    </div>


  </section>

  <%= @inner_content %>
</main>
